<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/e49ee2e165.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <style>
        .tab-content {
            display: none;
        }

        .tab-content.is-active {
            display: block;
        }

        body {
            font-family: 'Space Mono', monospace;
        }
    </style>
    <script>
        function showTab(tabId) {
            // Hide all tab contents
            document.querySelectorAll('.tab-content').forEach(tab => tab.classList.remove('is-active'));

            // Remove active class from all tabs
            document.querySelectorAll('.tabs li').forEach(tab => tab.classList.remove('is-active'));

            // Show the clicked tab content and activate the tab
            document.getElementById(tabId).classList.add('is-active');
            document.querySelector(`.tabs li[data-tab="${tabId}"]`).classList.add('is-active');
        }

        function deletePasskey(passkeyId) {
           fetch("/passkey/delete?credential-id="+passkeyId,
               {
                   method: "POST",
                   body: "{}",
                   headers: {
                    "Content-Type": "application/json"
                }
            }).then(r => {
               window.location.href = r.url;
           })
        }
    </script>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="box">
            <div class="level">
                <div class="level-left">
                    <h1 class="title">Account Settings</h1>
                </div>
                <div class="level-right">
                    <form method="post" action="/logout">
                        <button type="submit" class="button is-danger is-outlined" title="Logout">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>Logout</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="tabs is-boxed">
                <ul>
                    <li class="is-active" data-tab="info" onclick="showTab('info')">
                        <a>Info</a>
                    </li>
                    <li data-tab="passkeys" onclick="showTab('passkeys')">
                        <a>Passkeys</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <!-- Info Tab Content -->
                <div id="info" class="tab-content is-active">
                    <h2 class="subtitle">Profile Information</h2>
                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control">
                            <input class="input is-static" type="text" th:value="${email}" readonly>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Username</label>
                        <p class="control">
                            <input class="input is-static" type="text" th:value="${username}" readonly>
                        </p>
                    </div>
                    <h2 class="subtitle">Passkeys</h2>
                    <ul id="passkey-list">
                        <li th:each="keys : ${authenticators}">
                            <span th:text="${keys.getCredentialsName()}"></span>
                            <button th:data-id="${keys.getId()}" class="button is-danger is-light is-small"  onClick=deletePasskey((this.getAttribute('data-id')))>
                                <span class="icon">
                                <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div id="passkeys" class="tab-content">
                    <h2 class="subtitle">Passkeys Management</h2>
                    <form method="post" action="/passkey/register">
                        <div class="field">
                            <label class="label">New Passkey</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" id="passkey-name" placeholder="Enter new passkey" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="button" class="button is-link" onclick="registerPassKey()">Add Passkey</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    function registerPassKey() {
        const name = document.getElementById("passkey-name").value;
        const options = {
            challenge: new Uint8Array("trustmeiamanengineer", c => c.charCodeAt(0)),
            rp: {
                name: "webauthn-demo",
            },
            user: {
                id: Uint8Array.from([[${email}]], c => c.charCodeAt(0)),
                name: [[${username}]],
                displayName: [[${username}]]
            },
            pubKeyCredParams: [
                {
                    type: "public-key",
                    alg: -7
                },
                {
                    type: "public-key",
                    alg: -257
                }
            ],
            authenticatorSelection: {
                userVerification: "preferred"
            },
            timeout: 30000
        };

        navigator.credentials.create({publicKey: options})
            .then((newCredentialInfo) => {
                const serializeable = {
                    authenticatorAttachment: newCredentialInfo.authenticatorAttachment,
                    id: newCredentialInfo.id,
                    rawId: bufferToBase64url(newCredentialInfo.rawId),
                    response: {
                        attestationObject: bufferToBase64url(newCredentialInfo.response.attestationObject),
                        clientDataJSON: bufferToBase64url(newCredentialInfo.response.clientDataJSON)
                    },
                    type: newCredentialInfo.type
                };
                const payload = JSON.stringify({name: name, credentials: serializeable});
                fetch("/passkey/register",
                    {
                        method: "POST",
                        body: payload,
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }).then(r => {
                    window.location.href = r.url;
                })
            }).catch(function (err) {
            console.log(err);
            alert('error', err);
        });

        function bufferToBase64url(buffer) {
            const byteView = new Uint8Array(buffer);
            let str = "";
            for (const charCode of byteView) {
                str += String.fromCharCode(charCode);
            }
            const base64String = btoa(str);
            const base64urlString = base64String.replace(/\+/g, "-").replace(/\//g, "_").replace(/=/g, "");
            return base64urlString;
        }
    }
</script>
</body>
</html>
