<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- Google Fonts for icons -->
    <script src="https://kit.fontawesome.com/e49ee2e165.js" crossorigin="anonymous"></script>
    <style>
        .shadow-divider {
            border: 0;
            height: 1px;
            background: #e5e5e5;
            box-shadow: 0 2px 2px -2px #888;
            margin: 2rem 0;
        }
        .button-spacer {
            margin-bottom: 1rem;
        }
        body {
            font-family: 'Space Mono', monospace;
        }
    </style>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div th:if="${alert}" class="notification is-success">
                    <button class="delete"></button>
                    <p th:text="${alert}"></p>
                </div>
                <div th:if="${magicLink}" class="columns is-centered has-text-centered">
                    <div class="column is-half is-centered">
                        <a  th:href="${magicLink}" class="button is-success is-medium is-light">Click this magic link for login.</a>
                    </div>
                </div>
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <h1 class="title has-text-centered">Login</h1>
                            <form method="POST" action="user/login">
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="email" name="email" placeholder="Enter your email"
                                               required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-link is-fullwidth">Login</button>
                                    </div>
                                </div>
                            </form>
                            <!-- Space below login button -->
                            <div class="button-spacer"></div>
                            <!-- New button for Login with Pass key {keylogo} using Material Icons -->
                            <div class="field">
                                <div class="control">
                                    <button id="login-webauthn" class="button is-info is-fullwidth">
                                        Login with Pass key  <i class="fas fa-key"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <hr class="shadow-divider">
                        </div>
                        <div class="column">
                            <h1 class="title has-text-centered">Register</h1>
                            <form method="POST" action="user/register">
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="email" name="email" placeholder="Enter your email"
                                               required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Username</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="text" name="username"
                                               placeholder="Enter your username" required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-primary is-fullwidth">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    const credentialsRequestOptions = {
        publicKey: {
            challenge: Uint8Array.from([[${challenge}]], c => c.charCodeAt(0)),
        }
    };

    document.getElementById("login-webauthn").addEventListener("click", async () => {
        const credentialsResponse = await navigator.credentials.get(credentialsRequestOptions);
        const serializeable = {
            authenticatorAttachment: credentialsResponse.authenticatorAttachment,
            id: credentialsResponse.id,
            rawId: bufferToBase64url(credentialsResponse.rawId),
            response: {
                authenticatorData: bufferToBase64url(credentialsResponse.response.authenticatorData),
                clientDataJSON: bufferToBase64url(credentialsResponse.response.clientDataJSON),
                signature: bufferToBase64url(credentialsResponse.response.signature)
            },
            type: credentialsResponse.type
        };
        fetch("/passkey/login",
            {
                method: "POST",
                body: JSON.stringify(serializeable),
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json;charset=utf-8"
                },
                redirect: "follow"
            })
            .then(r => window.location.href = r.url)
            .catch(err => console.error(err))
            .finally(() => console.log("Login with Pass key completed."));
    });

    function bufferToBase64url(buffer) {

        // modified from https://github.com/github/webauthn-json/blob/main/src/webauthn-json/base64url.ts

        const byteView = new Uint8Array(buffer);
        let str = "";
        for (const charCode of byteView) {
            str += String.fromCharCode(charCode);
        }

        // Binary string to base64
        const base64String = btoa(str);

        // Base64 to base64url
        // We assume that the base64url string is well-formed.
        const base64urlString = base64String.replace(/\+/g, "-").replace(
            /\//g,
            "_",
        ).replace(/=/g, "");
        return base64urlString;
    }

    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
</body>
</html>
